rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files
    match /{allPaths=**} {
      allow read;
    }
    
    // Allow write access to the videos folder without authentication for testing
    match /videos/{fileName} {
      allow write, delete: if request.resource.size < 50 * 1024 * 1024 // Limit to 50MB
                            && (request.resource.contentType.matches('video/.*'));
    }
  }
} 