.productSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140vh; /* Increased from 100vh for more vertical space */
    background-color: #ffffff;
    padding: 2rem;
    text-align: center;
}

.logoContainer {
    color: #1d1d1f; /* Set a color for the SVG text */
    width: 300px; 
}

.imageContainer {
    margin-top: 5rem; 
    margin-bottom: 4.7rem;
    max-width: 1200px; /* 800px * 1.5 */
    width: 100%;
}

.productImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.buttonContainer {
    /* No specific styles needed for the container itself */
}

.closerLookButton {
    background-color: #fff;
    border: 3px solid #000; /* Thicker border */
    border-radius: 980px;
    padding: 10px 22px;
   
    font-size: 19px;
    font-weight: 600; /* Bolder font */
    color: #000;
    cursor: pointer;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.closerLookButton:hover {
    background-color: #000;
    color: #fff;
}

.plusIcon {
    font-size: 24px;
    font-weight: 600; /* makes the plus thinner */
    margin-top: -2px; /* vertical alignment */
}
